{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "plugins": [
    "promise"
  ],
  "rules": {
    "no-param-reassign": [2, {"props": false}],
    "prefer-arrow-callback": 0,
    "newline-per-chained-call": 0,
    "no-underscore-dangle": 0,
    "no-debugger": 1,
    "promise/param-names": 2,
    "promise/catch-or-return": 2,
    "promise/no-native": 2,
    "import/no-dynamic-require": 0,
    "max-len": 0,
    "no-unused-vars": 1,
    "func-names": 0,
  }
}
